@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the div elements */
.image-animation {
  animation: hue-rotate 10s linear infinite;
}

/* Keyframes for hue-rotate animation */
@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
